BIGLOO              = bigloo
BIGLOOVERSION       = 4.4a
BIGLOO_LIB_PATH     = /usr/local/lib/bigloo/4.4a
BGLAFILE            = bglafile
C_GLIB_CFLAGS       = $(shell pkg-config --cflags glib-2.0 gmodule-2.0 gio-unix-2.0)
BIGLOO_GLIB_CFLAGS  = $(patsubst %,-copt %,$(C_GLIB_CFLAGS))

#SU is for the _s or _u extensions
#SUV is for the _s or _u extensions + bigloo version
ifeq ($(UNSAFE),t)
	SU = u
	SUV = u-$(BIGLOOVERSION)
else
	SU = s
	SUV = s-$(BIGLOOVERSION)
endif

ifeq ($(PROFILE),t)
	PROFILEFLAGS = -srfi profile
else
	PROFILEFLAGS =
endif

ifeq ($(OPTIMIZE),t)
	OPTIMIZEFLAGS = -srfi optimize
else
	OPTIMIZEFLAGS =
endif
